.date{
  font-size: 14px;
  color: var(--text-light);
  margin-bottom: 12px;
}

.title{
  font-weight: 600;
  font-size: 20px;
  color: var(--blue);
}

.description{
  margin-bottom: 32px;
  margin-top: 16px;
}