.burgerIcon{
   width: 25px;
   height: 25px;
   stroke: var(--black);
   cursor: pointer;
   display: none;
}
.block {
   background-color: var(--white);
   right: 0;
   margin-left: auto;
   inset-inline-start: 0;
   inset-inline-end: 0;
   overflow: hidden;
   max-width: 0;
   width: 0;
   transition: max-width 0.3s ease-in-out;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   color: black;
   z-index: -1;
}
.closeIcon{
   width: 24px;
   height: 24px;
   stroke: var(--black);
   cursor: pointer;
}
.hided{
   width: 0;
   height: 0;
}

.isOpen {
   z-index: 10;
   min-height: 100vh;
   height: 100%;
   width: 100%;
   max-width: 610px;
   overflow-y: hidden;
   margin-bottom: 50px;
}
.content{
   max-height: calc(100vh - 120px);
   height: 100%;
   width: 100%;
   overflow-y: scroll;
}

.back {
   background: rgba(#222222, 0.5);
   position: fixed;
   width: 100%;
   height: 100vh;
   z-index: 10;
   top:0;
   left: 0;
   bottom: 0;
}
.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   -webkit-box-shadow: inset 0 0 4px var(--border);
   padding: 24px;
   margin-bottom: 8px;
   .logo{
      width: 40px;
      height: 40px;
      svg{
         width: 40px;
         height: 40px;
      }
   }
}
.isOpen::-webkit-scrollbar {
   width: 4px;
   padding-inline-start: 10px;
}

.isOpen::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px var(--white);
   border-radius: 10px;
}

.isOpen::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px white;
   background-color: var(--black);
}

.home{
   .burgerIcon{
      stroke: var(--white);
   }
}

.item{
   padding: 20px 35px;
   border-bottom: 1px solid var(--border);
   cursor: pointer;
}

.itemWrap{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   .arrow{
      width: 24px;
      height: 24px;
      fill: var(--black);
      transform: rotate(-90deg);
   }
   .arrowBack{
      transform: rotate(90deg);
      position: absolute;
      left: -30px;
   }
}

.itemSelected{
   background: var(--background);
}




@media screen and (max-width: 1024px) {
      .burgerIcon{
         display: flex;
      }
}