.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  height: 94px;
}

.header{
  border-bottom: 1px solid #E5E5E5;
  z-index: 1;
  .logo {
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
}

.home{
  backdrop-filter: blur(8px);
}