.imagesWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    top: -50px;
    position: absolute;
    right: 0;
    max-width: 50%;
    max-height: 100%;
    overflow: hidden;
    min-height: calc(100% + 50px);
    .image{
        width: 305px;
        height: 240px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.safety{
    background-image: url("../../../../../assets/images/safety.jpg");
}
.vacancies{
    background-image: url("../../../../../assets/images/vacancies.jpg");
}
.production{
    background-image: url("../../../../../assets/images/production.jpg");
}

.electricalWorkshop{
    background-image: url("../../../../../assets/images/electricalWorkshop.jpg");
}

.structure{
    background-image: url("../../../../../assets/images/structure.jpg");
}
.cooperation{
    background-image: url("../../../../../assets/images/cooperation.jpg");
}
.report{
    background-image: url("../../../../../assets/images/report.jpg");
}
.events{
    background-image: url("../../../../../assets/images/events.jpg");
}
.history{
    background-image: url("../../../../../assets/images/history.jpg");
}
.zachFactory{
    background-image: url("../../../../../assets/images/zachFactory.jpg");
}
.reactorFactory{
    background-image: url("../../../../../assets/images/reactorFactory.jpg");
}
.turbineFactory{
    background-image: url("../../../../../assets/images/turbineFactory.jpg");
}


@media screen and (min-width: 769px) and (max-width: 1200px) {
    .imagesWrap{
        margin-top: 8px;
        grid-template-columns: 1fr;
        width: 50%;
        top: -250px;
        min-height: calc(100% + 250px);

        .image{
            width: 100%;
            object-fit: cover;
            object-position: center;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .imagesWrap{
        margin-top: 8px;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 100%;
        position: initial;
        .image{
            width: 100%;
            object-fit: cover;
            object-position: center;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}