.container {
  display: flex;
  flex-direction: column;
}

.wrap{
  position: absolute;
  top:0;
  width: 100%;
  left: 0;
  background-image: url("../../assets/images/frame.png");
  height: 600px;
}
