.vacancies{
  margin: 54px 0;
  .grid{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 20px;
    align-items: flex-start;
  }
  .content{
    .title{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .description{
      max-width: 400px;
      color: var(--text);
    }
  }
}

@media screen and (max-width: 1024px) {
  .vacancies {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}